Repository iamwonseok/agent-context: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:meta, test:error-handling, test:scenario

Path conditions:
  test:meta: any of: .cursorrules, skills/**/*, workflows/**/*
  test:error-handling: any of: tests/integration/**/*, tools/pm/**/*, tools/agent/**/*
  test:scenario: any of: tests/scenario/**/*

docs: update handoff for P1 completion
  docs/internal/handoff.md
Due: none

feat(tests): add automated policy validation suite
  tests/meta/README.md
  tests/meta/TEST_RESULTS.md
  tests/meta/fixtures/antipatterns/fail/custom.dsl
  tests/meta/fixtures/antipatterns/pass/simple-structure.md
  tests/meta/fixtures/complexity/fail/skill-too-long.md
  tests/meta/fixtures/complexity/fail/workflow-too-long.md
  tests/meta/fixtures/complexity/pass/skill-simple.md
  tests/meta/fixtures/complexity/pass/workflow-simple.md
  tests/meta/fixtures/efficiency/README.md
  tests/meta/fixtures/naming/fail/README.md
  tests/meta/fixtures/naming/pass/README.md
  tests/meta/logs/all-tests-summary.log
  tests/meta/logs/antipatterns.log
  tests/meta/logs/complexity_budget.log
  tests/meta/logs/efficiency_patterns.log
  tests/meta/logs/naming_conventions.log
  tests/meta/run-all-meta-tests.sh
  tests/meta/test_antipatterns.sh
  tests/meta/test_complexity_budget.sh
  tests/meta/test_efficiency_patterns.sh
  tests/meta/test_naming_conventions.sh
Due: none

feat(rfc-004): implement Phase 2 Feedback Loops Layer
  docs/internal/handoff.md
  docs/rfcs/004-agent-workflow-system.md
  tests/integration/test_rfc004_phase2.sh
  tools/agent/bin/agent
  tools/agent/lib/branch.sh
  tools/agent/lib/context.sh
  tools/agent/lib/markdown.sh
  tools/agent/resources/llm_context.md
  tools/agent/resources/questions.md
Due: test:error-handling

feat(refactor): reduce complexity budget violations
  docs/architecture/complexity-exceptions.md
  skills/analyze/assess-status/SKILL.md
  skills/analyze/inspect-logs/SKILL.md
  skills/execute/fix-defect/SKILL.md
  skills/execute/refactor-code/SKILL.md
  skills/execute/update-documentation/SKILL.md
  skills/planning/allocate-resources/SKILL.md
  skills/planning/breakdown-work/SKILL.md
  skills/planning/estimate-effort/SKILL.md
  skills/planning/schedule-timeline/SKILL.md
  skills/validate/check-intent/SKILL.md
  tests/meta/TEST_RESULTS.md
  tests/meta/logs/antipatterns.log
  tests/meta/test_antipatterns.sh
  tools/lint/scripts/rules/c_ai_rules.txt
  tools/lint/scripts/test_c_ai_review.sh
Due: test:meta

docs: complete P2-3 RFC-012 Test Planning Framework
  docs/internal/handoff.md
  docs/rfcs/012-test-planning-framework.md
Due: none

feat(rfc-005): implement CLI enhancements for manual fallback
  docs/internal/handoff.md
  tools/agent/bin/agent
  tools/agent/lib/branch.sh
  tools/agent/lib/checks.sh
Due: test:error-handling

docs: complete RFC-005 validation and defer RFC-006
  docs/internal/handoff.md
  docs/rfcs/future-work.md
Due: none

docs: update CHANGELOG for v2.0.0 release
  CHANGELOG.md
Due: none

fix: update agent CLI version to 2.0.0
  tools/agent/bin/agent
Due: test:error-handling

fix: prepend agent-context tools to PATH for precedence
  activate.sh
Due: none

feat!: rename CLI from 'agent' to 'agnt-c' to avoid conflicts
  .cursorrules
  CHANGELOG.md
  README.md
  activate.sh
  bootstrap.sh
  docs/cli/agent-dev.md
  docs/cli/agent-init.md
  docs/cli/agent-mgr.md
  docs/cli/agent.md
  docs/installation.md
  setup.sh
  tests/smoke/test_smoke.sh
  tests/unit/tools/test_agent.sh
  tools/agent/README.md
  tools/agent/bin/agnt-c
Due: test:meta, test:error-handling

docs: add getting-started guide for agnt-c
  docs/guides/README.md
  docs/guides/getting-started.md
Due: none

fix: add zsh compatibility to activate.sh
  activate.sh
Due: none

feat: improve agnt-c setup with .agent symlink and --full/--project options
  README.md
  setup.sh
  templates/.gitignore.template
  tools/agent/README.md
  tools/agent/lib/setup.sh
Due: test:error-handling

feat: add bootstrap command and fix setup config file placement
  tools/agent/bin/agnt-c
  tools/agent/lib/bootstrap.sh
  tools/agent/lib/setup.sh
Due: test:error-handling

fix: sync .cursorrules.template with main .cursorrules format
  templates/.cursorrules.template
Due: none

feat(pm): add Jira and Confluence export to Markdown
  tools/pm/README.md
  tools/pm/bin/pm
  tools/pm/lib/export.sh
Due: test:error-handling
