Repository iamwonseok/agent-context: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:meta, test:error-handling, test:scenario

test:meta:
  stage: test
  image: docker:24
  services:
  - docker:24-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
  script:
  - docker compose -f tests/docker-compose.test.yml build
  - docker compose -f tests/docker-compose.test.yml run meta

test:error-handling:
  stage: test
  image: docker:24
  services:
  - docker:24-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
  script:
  - docker compose -f tests/docker-compose.test.yml build
  - docker compose -f tests/docker-compose.test.yml run error-handling

test:scenario:
  stage: test
  image: docker:24
  services:
  - docker:24-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
  script:
  - docker compose -f tests/docker-compose.test.yml build
  - docker compose -f tests/docker-compose.test.yml run scenario
  allow_failure: true

feat: add logging system and simplify installation plan
  docs/rfcs/013-simplified-installation.md
  docs/rfcs/README.md
  docs/rfcs/archive/002-proposal.md
  docs/rfcs/archive/004-agent-workflow-system.md
  scripts/generate-index.sh
  skills/README.md
  skills_index.json
  tests/docker-compose.test.yml
  tests/e2e/test_logging.sh
  tools/agent/lib/executor.sh
  tools/agent/lib/logging.sh
  tools/agent/lib/mock.sh
  tools/agent/lib/progress.sh
  tools/agent/lib/sync.sh
  tools/worktree/add-symlink.sh
Due: test:meta, test:error-handling

feat(hooks): add Cursor IDE hooks for agent context logging
  .cursor/hooks.json
  .cursor/hooks/after-file-edit.sh
  .cursor/hooks/session-end.sh
  .cursor/hooks/session-start.sh
  .cursor/hooks/stop.sh
  .gitignore
Due: none

fix(worktrees): track worktrees.json and fix script invocation
  .cursor/worktrees.json
  .gitignore
Due: none

refactor(hooks): rename hooks to init-context.sh and sync-context.sh
  .cursor/hooks.json
  .cursor/hooks/before-submit-prompt.sh
  .cursor/hooks/init-context.sh
  .cursor/hooks/session-end.sh
  .cursor/hooks/session-start.sh
  .cursor/hooks/sync-context.sh
  .cursor/worktrees.json
  tools/worktree/bin/add-symlink
Due: none

refactor: simplify .cursorrules with docs/convention links
  .cursorrules
Due: test:meta

feat: add related files update check to agent behavior
  .cursorrules
Due: test:meta

docs: add RFC system with issue-driven workflow
  .cursorrules
  README.md
  docs/convention/rfc.md
  docs/rfc/000-template.md
  docs/rfc/README.md
Due: test:meta

fix: enforce no-emoji policy for Markdown
  .pre-commit-config.yaml
  docs/convention/rfc.md
  docs/rfc/000-template.md
  docs/rfc/README.md
  tools/lint/check_no_emoji_md.py
Due: none

refactor: remove context session/log generation
  .cursor/hooks/sync-context.sh
Due: none

docs: add lessons for multi-model usage and Ralph's AGENTS.md pattern
  docs/lessons/multi-model-usage.md
  docs/lessons/ralphs-ai-agents-md-usage.md
Due: none

refactor: extract common templates in GitLab CI configuration
  .gitlab-ci.yml
Due: none

feat: add AITL demo with GitLab MR flow integration
  .gitignore
  demo/README.md
  demo/cleanup.sh
  demo/demo.sh
  demo/lib/gitlab_flow.sh
  demo/lib/jira_sync.sh
  tools/pm/bin/pm
  tools/pm/lib/jira.sh
Due: test:error-handling

feat: add install.sh for agent-context deployment
  install.sh
Due: none

refactor: add global defaults and slim down implement skill
  skills/implement.md
  workflows/README.md
  workflows/solo/hotfix.md
  workflows/team/release.md
Due: test:meta

fix: make demo dry-run non-interactive and Jira-optional
  demo/README.md
  demo/demo.sh
  demo/lib/gitlab_flow.sh
Due: none

fix: normalize Jira base URL and expand demo E2E flow
  demo/SCENARIO_TEST_REPORT.md
  demo/demo.sh
  tools/pm/lib/config.sh
Due: test:error-handling

feat: expand project-opentitan demo workflow
  demo/README.md
  demo/SCENARIO_TEST_REPORT.md
  demo/demo.sh
  demo/lib/gitlab_flow.sh
  demo/sample/opentitan/prepare/README.md
  demo/sample/opentitan/prepare/gitlab-project-opentitan/EPIC-KEY/HOTFIX_uart_clock_mismatch.c
  demo/sample/opentitan/prepare/gitlab-project-opentitan/EPIC-KEY/HOTFIX_uart_clock_mismatch.md
  demo/sample/opentitan/prepare/gitlab-project-opentitan/EPIC-KEY/INITIATIVE_automate_checklist.c
  demo/sample/opentitan/prepare/gitlab-project-opentitan/EPIC-KEY/INITIATIVE_automate_checklist.md
  demo/sample/opentitan/prepare/gitlab-project-opentitan/EPIC-KEY/TASK_fw_bringup_stub.c
  demo/sample/opentitan/prepare/gitlab-project-opentitan/EPIC-KEY/TASK_fw_bringup_stub.md
  demo/sample/opentitan/prepare/gitlab-project-opentitan/EPIC-KEY/TASK_hw_bringup_plan.c
  demo/sample/opentitan/prepare/gitlab-project-opentitan/EPIC-KEY/TASK_hw_bringup_plan.md
  demo/sample/opentitan/prepare/gitlab-project-opentitan/EPIC-KEY/TASK_repo_bootstrap.c
  demo/sample/opentitan/prepare/gitlab-project-opentitan/EPIC-KEY/TASK_repo_bootstrap.md
  demo/sample/opentitan/prepare/jira-project-opentitan/EPIC-KEY/EPIC.md
  demo/sample/opentitan/prepare/jira-project-opentitan/EPIC-KEY/HOTFIX_uart_clock_mismatch.md
  demo/sample/opentitan/prepare/jira-project-opentitan/EPIC-KEY/INITIATIVE_automate_checklist.md
  demo/sample/opentitan/prepare/jira-project-opentitan/EPIC-KEY/TASK_fw_bringup_stub.md
  demo/sample/opentitan/prepare/jira-project-opentitan/EPIC-KEY/TASK_hw_bringup_plan.md
  demo/sample/opentitan/prepare/jira-project-opentitan/EPIC-KEY/TASK_repo_bootstrap.md
  demo/sample/opentitan/results/README.md
  demo/sample/opentitan/results/gitlab-project-opentitan/SVI-157/SVI-158.c
  demo/sample/opentitan/results/gitlab-project-opentitan/SVI-157/SVI-158.md
  demo/sample/opentitan/results/gitlab-project-opentitan/SVI-157/SVI-159.c
  demo/sample/opentitan/results/gitlab-project-opentitan/SVI-157/SVI-159.md
  demo/sample/opentitan/results/gitlab-project-opentitan/SVI-157/SVI-160.c
  demo/sample/opentitan/results/gitlab-project-opentitan/SVI-157/SVI-160.md
  demo/sample/opentitan/results/gitlab-project-opentitan/SVI-157/SVI-161.c
  demo/sample/opentitan/results/gitlab-project-opentitan/SVI-157/SVI-161.md
  demo/sample/opentitan/results/gitlab-project-opentitan/SVI-157/SVI-162.c
  demo/sample/opentitan/results/gitlab-project-opentitan/SVI-157/SVI-162.md
  demo/sample/opentitan/results/jira-project-opentitan/SVI-157/SVI-157.md
  demo/sample/opentitan/results/jira-project-opentitan/SVI-157/SVI-158.md
  demo/sample/opentitan/results/jira-project-opentitan/SVI-157/SVI-159.md
  demo/sample/opentitan/results/jira-project-opentitan/SVI-157/SVI-160.md
  demo/sample/opentitan/results/jira-project-opentitan/SVI-157/SVI-161.md
  demo/sample/opentitan/results/jira-project-opentitan/SVI-157/SVI-162.md
Due: none

docs: update cursorrules guidance
  .cursorrules
Due: test:meta

refactor: format opentitan demo C samples
  demo/sample/opentitan/prepare/gitlab-project-opentitan/EPIC-KEY/HOTFIX_uart_clock_mismatch.c
  demo/sample/opentitan/prepare/gitlab-project-opentitan/EPIC-KEY/INITIATIVE_automate_checklist.c
  demo/sample/opentitan/prepare/gitlab-project-opentitan/EPIC-KEY/TASK_fw_bringup_stub.c
  demo/sample/opentitan/prepare/gitlab-project-opentitan/EPIC-KEY/TASK_hw_bringup_plan.c
  demo/sample/opentitan/prepare/gitlab-project-opentitan/EPIC-KEY/TASK_repo_bootstrap.c
  demo/sample/opentitan/results/gitlab-project-opentitan/SVI-157/SVI-158.c
  demo/sample/opentitan/results/gitlab-project-opentitan/SVI-157/SVI-159.c
  demo/sample/opentitan/results/gitlab-project-opentitan/SVI-157/SVI-160.c
  demo/sample/opentitan/results/gitlab-project-opentitan/SVI-157/SVI-161.c
  demo/sample/opentitan/results/gitlab-project-opentitan/SVI-157/SVI-162.c
Due: none

docs: add/update reference documents
  README.md
  docs/lessons/ralphs-ai-agents-md-usage.md
  docs/reference/multi-agent-usage.md
  docs/reference/ralphs-agent-usage.md
  docs/reference/vercel-agent-recommendation.md
  docs/rfc/README.md
Due: none

feat: add merged-branch deletion policy
  install.sh
  tools/lint/check_no_emoji_text.py
  tools/pm/README.md
  tools/pm/lib/config.sh
Due: test:error-handling

docs: unify docs style and add cursorrules index map
  .cursorrules
  README.md
  docs/ARCHITECTURE.md
  skills/README.md
  workflows/README.md
  workflows/project/quarter.md
  workflows/project/roadmap.md
  workflows/solo/hotfix.md
  workflows/team/release.md
  workflows/team/sprint.md
Due: test:meta

feat: add project git workflow policy
  .cursorrules
  .pre-commit-config.yaml
  install.sh
  tools/pm/README.md
  tools/pm/lib/config.sh
Due: test:meta, test:error-handling

Path conditions:
  test:meta: any of: .cursorrules, skills/**/*, workflows/**/*
  test:error-handling: any of: tests/integration/**/*, tools/pm/**/*, tools/agent/**/*
  test:scenario: any of: tests/scenario/**/*
